In [2]:
# Cette ligne de code indique à Jupyter d'imprimer les graphiques directement dans la sortie de la cellule
%matplotlib inline
import seaborn # Rend les graphiques plus attractifs
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (10.0, 4.0) # Determine la taille des graphiques (10 de longeur, 4 de largeur)

import pandas # importe le module "pandas" pour la manipulation de données

# Exercice: Achetons des voitures!

Nous allons utiliser un jeux de données très intéréssant contenant le prix de ventes de voitures d'occasion publiés dans le site Ebay allemand. (https://www.kaggle.com/orgesleka/used-cars-database).

Mettez vous à la place d'un acheteur, vendeur, ou commerciale... __A quelles questions voudriez-vous une réponse?__ 

#### Commençons déjà par importer le jeux de données!

In [5]:
# importer le dataset depuis ./data/
# L'encoding est pour afficher des caractères allemands est 'cp850'
cars = #todo

In [8]:
# head, pour afficher l'entête de la table
#TODO

,name,price,type,year,gearbox,power,model,kilometer,fuel,brand,damaged
0,A5_Sportback_2.7_Tdi,18300,coupe,2011,manual,190,NaN,125000,diesel,audi,yes
1,"Jeep_Grand_Cherokee_""Overland""",9800,suv,2004,auto,163,grand,125000,diesel,jeep,NaN
2,GOLF_4_1_4__3T?RER,1500,small,2001,manual,75,golf,150000,gasoline,volkswagen,no
3,Skoda_Fabia_1.4_TDI_PD_Classic,3600,small,2008,manual,69,fabia,90000,diesel,skoda,no
4,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,650,limousine,1995,manual,102,3er,150000,gasoline,bmw,yes

Chaque ligne (observation) correspond à une voiture mise en vente, et chaque colonne (variable) donne une des informations suivantes sur la voiture:

* __name__ : nom détaillé de la voiture
* __price__ : le prix affiché dans l'annonce
* __type__ : le type de voiture (berline, citadine, van, ...)
* __year__ : année dans laquelle la voiture a été enregistré
* __gearbox__ : type de boîte (manuelle/automatique)
* __power__ : puissance de la voiture en PS (presque équivalent à "horsepower")
* __model__ : nom du model de la voiture
* __kilometer__ : combien de kilometres a roulé la voiture
* __fuel__ : type de combustible
* __brand__ : marque
* __damaged__ : "Yes" si la voiture a été endommagé, et mise en cente sans avoir été reparée

## Description du dataset

L'étape primordiale avant tout analyse, est de bien connaitre le jeux de données à notre disposition. La liste ci-dessous, est une liste non exhaustive de questions à se poser lorsqu'on explore un nouveau jeux de données.

A vous de les repondre avec Python!

<div class="alert alert-info">
**Question 1.a** Combien d'annonces ont été réalisés sur Ebay? c'est-à-dire, quelle est le nombre de lignes du jeux de données?
</div>

In [9]:
# Votre réponse ici!

In [10]:
#TODO

(314467, 11)

<div class="alert alert-info">
**Question 1.b** Quelles sont les variables catégorielles et numériques?
</div>

In [11]:
# Votre réponse ici!

<div class="alert alert-info">
**Question 1.c** Affichez la description (méthode `.describe()`) du dataset pour avoir une vision globale. Qu'est-ce que vous constatez?
</div>

In [13]:
# Votre réponse ici!

<div class="alert alert-info">
**Question 1.d** Vérifiez votre compréhension sur la signification des variables. Affichez les valeurs uniques pour les variables `type`, `fuel` et `brand`.
</div>

In [15]:
# Votre réponse ici!

## Exploration des caractéristiques des annonces
Très bien! Maintenant que nous avons une idée plus concrete du contenu des données, passons à des choses sérieuses.

<div class="alert alert-info">
**Question 2.a** En tant qu'acheteurs, le plus souvent la première question qu'on se pose est sur le prix des voitures. Avec la question 1.c nous avons déjà une idée des prix. <br><br> __Affichez__ la distribution de cette variable sous forme d'histogramme. Qu'est-ce que vous constatez? 
</div>

In [17]:
# Votre réponse ici!

<div class="alert alert-info">
**Question 2.b** On sait que le prix d'une voiture est très dépendant de beaucoup de facteurs. La puissance en est un parmi ceux là. __Comment varie le prix en fonction de la puissance de la voiture?__
<br><br>
Utilisez un graphique de type __scatterplot__ pour ce faire! (le paramètre `alpha` peut être très utile pour ajouter de la transparence)
</div>

Exemple:
```python
nom_dataframe.plot.scatter(x = "nom_colonne", # variable x
                           y = "nom_colonne", # variable y
                           alpha = 0.01 # transparence (entre 0 et 1)
                           ); 
```

In [19]:
# Votre réponse ici!

### Comment choisir sa voiture au meilleur prix?

<div class="alert alert-info">
**Question 3.a** En plus de la puissance, __l'age__ est un de facteurs les plus influents sur le prix. Comment évolue __la distribution du prix__ des voitures en fonction de l'age? <br>__Tracez un boxplot__ du prix par année, et analysez le résultat.
</div>

Exemple:
```python
nom_dataframe.boxplot(column = "nom_colonne", # variable à afficher la distribution
                          by = "nom_colonne", # un boxplot est fait par valeur unique de la colonne
                           ); 
```

In [22]:
# Votre réponse ici!

<div class="alert alert-info">
**Question 3.b** Le type de voiture peut autre aussi un facteur determinant du prix. 
<br><br>
Quel __type de véhicule__ vous devriez préférer à l'achat pour un prix abordable?
</div>

In [24]:
# Votre réponse ici!